@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0 0 16px 0;
}

p {
    font-size: 14px;
}

h1 {   
    font-size: 24px;
}

h2 {   
    font-size: 20px;
}

h3 {   
    font-size: 16px;
}

h4 {   
    font-size: 14px;
}